@model IEnumerable<kinnemed05.Models.laboratorista>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lab_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lab_cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lab_nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lab_apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lab_correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lab_firma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lab_estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.lab_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lab_cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lab_nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lab_apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lab_correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lab_firma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lab_estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
