@model kinnemed05.Models.espirometria

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>espirometria</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.esp_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.esp_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.paciente.pac_cedula)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.paciente.pac_cedula)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.esp_archivo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.esp_archivo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.esp_observacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.esp_observacion)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
