@{
    ViewBag.Title = "Examen";
}

<div class="jumbotron">

    <a class="btn btn-default btn-lg btn-img" title="Laboratorio" href="@Url.Content("~/Registro/Index")">
        <img src="@Url.Content("~/Content/img/iconos/examen01-icon.png")" class="img-rounded" />
        <label>Laboratorio</label>
    </a>
    <a class="btn btn-default btn-lg btn-img" title="Espirometria" href="@Url.Content("~/Espirometria/Index")">
        <img src="@Url.Content("~/Content/img/iconos/lungs-icon.png")" class="img-rounded" />
        <label>Espirometria</label>
    </a>
    <a class="btn btn-default btn-lg btn-img" title="Audiometría" href="@Url.Content("~/Audiometria/Index")">
        <img src="@Url.Content("~/Content/img/iconos/sound-icon.png")" class="img-rounded" />
        <label>Audiometria</label>
    </a>
    <a class="btn btn-default btn-lg btn-img" title="Rayos X" href="@Url.Content("~/Rayos/Index")">
        <img src="@Url.Content("~/Content/img/iconos/ray-icon.png")" class="img-rounded" />
        <label>Rayos X</label>
    </a>

</div>
