@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">
    <a class="btn btn-default btn-lg btn-img" title="Médico" href="@Url.Content("~/Medico/Index")">
        <img src="@Url.Content("~/Content/img/iconos/doctor-icon.png")" class="img-rounded" />
        <label>Médicos</label>
    </a>
    <a class="btn btn-default btn-lg btn-img" title="Paciente" href="@Url.Content("~/Paciente/Index")">
        <img src="@Url.Content("~/Content/img/iconos/patient-icon.png")" class="img-rounded" />
        <label>Pacientes</label>
    </a>
    <a class="btn btn-default btn-lg btn-img" title="Empresa" href="@Url.Content("~/Empresa/Index")">
        <img src="@Url.Content("~/Content/img/iconos/company-icon.png")" class="img-rounded" />
        <label>Empresas</label>
    </a>
    
    @*<a class="btn btn-default btn-lg btn-img" title="Exámenes" href="@Url.Content("~/Home/Examen")">
        <img src="@Url.Content("~/Content/img/iconos/examen-icon.png")" class="img-rounded" />
        <label>Exámenes</label>
    </a>*@
    <a class="btn btn-default btn-lg btn-img" title="Laboratorio" href="@Url.Content("~/Registro/Index")">
        <img src="@Url.Content("~/Content/img/iconos/examen-icon.png")" class="img-rounded" />
        <label>Laboratorio</label>
    </a>
    <a class="btn btn-default btn-lg btn-img" title="Historias" href="@Url.Content("~/Home/Historia")">
        <img src="@Url.Content("~/Content/img/iconos/historia01-icon.png")" class="img-rounded" />
        <label>Historias</label>
    </a>
</div>