@model kinnemed05.Models.SetLaboral

@{
    ViewBag.Title = "Details";
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Biológicos</h3>
    </div>
    <div class="panel-body">
        @foreach (var item in Model.biologicos)
        {
            <div class="col-lg-4">
                <div class="form-group">
                    <label>
                        @Html.CheckBox(item.lab_riesgo + "", item.lab_estado, new { @disabled="disabled" })
                        @item.riesgo.rie_nombre
                    </label>
                </div>
            </div>
        }

    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Biomecánicas</h3>
    </div>
    <div class="panel-body">
        @foreach (var item in Model.biomecanicos)
        {
            <div class="col-lg-4">
                <div class="form-group">
                    <label>
                        @Html.CheckBox(item.lab_riesgo + "", item.lab_estado, new { @disabled = "disabled" })
                        @item.riesgo.rie_nombre
                    </label>
                </div>
            </div>
        }

    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Físico</h3>
    </div>
    <div class="panel-body">
        @foreach (var item in Model.fisico)
        {
            <div class="col-lg-4">
                <div class="form-group">
                    <label>
                        @Html.CheckBox(item.lab_riesgo + "", item.lab_estado, new { @disabled = "disabled" })
                        @item.riesgo.rie_nombre
                    </label>
                </div>
            </div>
        }

    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Mecánicos</h3>
    </div>
    <div class="panel-body">
        @foreach (var item in Model.mecanicos)
        {
            <div class="col-lg-4">
                <div class="form-group">
                    <label>
                        @Html.CheckBox(item.lab_riesgo + "", item.lab_estado, new { @disabled = "disabled" })
                        @item.riesgo.rie_nombre
                    </label>
                </div>
            </div>
        }

    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Psicosociales</h3>
    </div>
    <div class="panel-body">
        @foreach (var item in Model.psicosociales)
        {
            <div class="col-lg-4">
                <div class="form-group">
                    <label>
                        @Html.CheckBox(item.lab_riesgo + "", item.lab_estado, new { @disabled = "disabled" })
                        @item.riesgo.rie_nombre
                    </label>
                </div>
            </div>
        }

    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Químicos</h3>
    </div>
    <div class="panel-body">
        @foreach (var item in Model.quimicos)
        {
            <div class="col-lg-4">
                <div class="form-group">
                    <label>
                        @Html.CheckBox(item.lab_riesgo + "", item.lab_estado, new { @disabled = "disabled" })
                        @item.riesgo.rie_nombre
                    </label>
                </div>
            </div>
        }

    </div>
</div>

