@model kinnemed05.Models.ocupacional

@{
    ViewBag.Title = "Create";
}

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Información Ocupacional</h3>
        </div>
        <div class="panel-body">
            @using (Ajax.BeginForm("Create", new AjaxOptions { UpdateTargetId = "div_form", LoadingElementId = "div_loading", LoadingElementDuration = 100 })) 
            { 
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.ocu_paciente, new { Value = ViewBag.ocu_paciente })
                @Html.HiddenFor(model => model.ocu_tipo, new { Value = ViewBag.ocu_tipo })
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ocu_inicio, new { @class="control-label"})
                        @Html.TextBoxFor(model => model.ocu_inicio, new { @class="form-control"})
                        @Html.ValidationMessageFor(model=>model.ocu_inicio)
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ocu_fin, new { @class="control-label"})
                        @Html.TextBoxFor(model => model.ocu_fin, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ocu_fin)
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ocu_tiempo, new { @class="control-label"})
                        @Html.TextBoxFor(model => model.ocu_tiempo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ocu_tiempo)
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ocu_cargo, new { @class="control-label"})
                        @Html.TextBoxFor(model => model.ocu_cargo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ocu_cargo)
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ocu_seccion, new { @class="control-label"})
                        @Html.TextBoxFor(model => model.ocu_seccion, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ocu_seccion)
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ocu_jornada, new { @class="control-label"})
                        @Html.DropDownList("ocu_jornada",String.Empty)
                        @Html.ValidationMessageFor(model => model.ocu_seccion)
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ocu_descripcion, new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.ocu_descripcion, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ocu_descripcion)
                    </div>
                </div>
                
                <div class="col-lg-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ocu_materiales, new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.ocu_materiales, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ocu_materiales)
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ocu_maquinaria, new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.ocu_maquinaria, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ocu_maquinaria)
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ocu_sustancias, new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.ocu_sustancias, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ocu_sustancias)
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ocu_equipo, new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.ocu_equipo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ocu_equipo)
                    </div>
                </div>
                
                
                
                
                
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
