@model kinnemed05.Models.habitos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>habitos</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.paciente.pac_cedula)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.paciente.pac_cedula)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.hab_fumo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hab_fumo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.hab_fuma)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hab_fuma)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.hab_cigarillos)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hab_cigarillos)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.hab_alcohol)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hab_alcohol)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.hab_frecuencia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hab_frecuencia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.hab_drogas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hab_drogas)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.hab_ejercicio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hab_ejercicio)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
