@model IEnumerable<kinnemed05.Models.enfermedad>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.enf_descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.enf_fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.enf_empresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paciente.pac_cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.enf_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.enf_descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.enf_fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.enf_empresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paciente.pac_cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.enf_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
