@model kinnemed05.Models.plan

@{
    ViewBag.Title = "Create";
}


<script>
    $(document).ajaxStart(function () {
        $('#div_loading').show();
    });
    $(document).ajaxStop(function () {
        $('#div_loading').hide();
    });

    $.ajax({
        url: $("#link_index").attr('href'),
        type: 'GET',
        data: { id: $('#pac_id').val() },
        success: function (data) {
            $('#div_index').html(data)
        },
        error: function (xhr, status, error) {
            alert(error)
        }
    });
</script>
@using (Ajax.BeginForm("Create", new AjaxOptions { UpdateTargetId = "div_form", LoadingElementId = "div_loading", LoadingElementDuration = 100, OnFailure = "error" }))
{
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Planes</h3>
            </div>
            <div class="panel-body">

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.pla_id, new { Value = ViewBag.pla_id })


                <div class="col-lg-12" style="clear:both">
                    <div class="form-group">
                        <label>Recomendaciones Farmácologicas</label>
                        @Html.TextAreaFor(model => model.pla_texto1, new { @class = "form-control", @rows = "5" })
                        @Html.ValidationMessageFor(model => model.pla_texto1)
                    </div>
                </div>
                <div class="col-lg-12" style="clear:both">
                    <div class="form-group">
                        <label>Recomendaciones No Farmacológicas</label>
                        @Html.TextAreaFor(model => model.pla_texto2, new { @class = "form-control", @rows = "5" })
                        @Html.ValidationMessageFor(model => model.pla_texto2)
                    </div>
                </div>



            </div>
        </div>
    </div>
    <div class="col-lg-3" style="clear:both; float:right">
        <div class="form-group" style="float:right">
            @Ajax.ActionLink("Anterior", "Create", "Diagnostico", new { id = ViewBag.pla_id }, new AjaxOptions { UpdateTargetId = "div_form", LoadingElementId = "div_loading", LoadingElementDuration = 100, OnFailure = "error" }, new { @class = "btn btn-default" })
            <input type="submit" value="Siguiente" class="btn btn-primary" />

        </div>
    </div>
}

<div id="div_index" style="clear:both" class="col-lg-12">

</div>



<a href="@Url.Content("~/Registro/Index")" id="link_index"></a>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
