@model kinnemed05.Models.control

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>control</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.con_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.con_id)
            @Html.ValidationMessageFor(model => model.con_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.con_perfil, "perfil")
        </div>
        <div class="editor-field">
            @Html.DropDownList("con_perfil", String.Empty)
            @Html.ValidationMessageFor(model => model.con_perfil)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.con_examen, "examen")
        </div>
        <div class="editor-field">
            @Html.DropDownList("con_examen", String.Empty)
            @Html.ValidationMessageFor(model => model.con_examen)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
