@model kinnemed05.Models.revision

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>revision</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.historia.his_motivo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.historia.his_motivo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rev_organos)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rev_organos)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rev_org_txt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rev_org_txt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rev_respiratorio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rev_respiratorio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rev_res_txt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rev_res_txt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rev_cardiovascular)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rev_cardiovascular)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rev_car_txt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rev_car_txt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rev_disgestivo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rev_disgestivo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rev_dig_txt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rev_dig_txt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rev_genital)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rev_genital)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rev_gen_txt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rev_gen_txt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rev_urinario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rev_urinario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rev_uri_txt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rev_uri_txt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rev_musculo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rev_musculo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rev_mus_txt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rev_mus_txt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rev_endocrino)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rev_endocrino)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rev_end_txt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rev_end_txt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rev_linfatico)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rev_linfatico)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rev_lin_txt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rev_lin_txt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rev_nervioso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rev_nervioso)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rev_nev_txt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rev_nev_txt)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
