@model kinnemed05.Models.audiometria

@{
    ViewBag.Title = "Edit";
}
<script>
    $(function () {
        $('#txt_paciente').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: $("#link_paciente").attr("href"),
                    type: "POST",
                    dataType: "json",
                    //contentType: 'application/json, charset=utf-8',
                    data: {
                        search: $("#txt_paciente").val()
                    },
                    success: function (data) {

                        response($.map(data, function (item) {
                            return {
                                label: item.pac_nombres + " " + item.pac_apellidos,
                                id: item.pac_id
                            };
                        }));

                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });
            },
            select: function (event, ui) {
                $("#aud_paciente").val(ui.item.id)
            },
            minLength: 2
        });

        $('#txt_medico').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: $("#link_medico").attr("href"),
                    type: "POST",
                    dataType: "json",
                    //contentType: 'application/json, charset=utf-8',
                    data: {
                        search: $("#txt_medico").val()
                    },
                    success: function (data) {

                        response($.map(data, function (item) {
                            return {
                                label: item.med_nombres + " " + item.med_apellidos,
                                id: item.med_id
                            };
                        }));

                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });
            },
            select: function (event, ui) {
                $("#aud_medico").val(ui.item.id)
            },
            minLength: 2
        });

        $("#btn_upload").click(function () {
            $("#div_upload").show();
            $("#div_download").hide();
        });
        $("#btn_download").click(function () {
            $("#div_upload").hide();
            $("#div_download").show();
        });

    });
</script>
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Modificar Exámen Audiometría</h3>
        </div>
        <div class="panel-body">


            @using (Html.BeginForm("Edit", "Audiometria", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.aud_id)
                @Html.HiddenFor(model => model.aud_archivo)
                @Html.HiddenFor(model=>model.aud_fecha)
                @Html.HiddenFor(model=>model.aud_laboratorista)
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.aud_paciente, new { @class = "form-control", @type = "hidden" })
                        @Html.LabelFor(model => model.aud_paciente, new { @class = "control-label", @for = "inputDefault" })
                        @Html.TextBox("txt_paciente", "", new { @class = "form-control", Value = @ViewBag.paciente })
                        @Html.ValidationMessageFor(model => model.aud_paciente)
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.aud_medico, new { @class = "form-control", @type = "hidden" })
                        @Html.LabelFor(model => model.aud_medico, new { @class = "control-label", @for = "inputDefault" })
                        @Html.TextBox("txt_medico", "", new { @class = "form-control", Value = @ViewBag.medico })
                        @Html.ValidationMessageFor(model => model.aud_medico)
                    </div>
                </div>


                <div class="col-lg-4">
                    <div id="div_download" class="form-group">
                        @Html.LabelFor(model => model.aud_archivo, new { @class = "control-label", @for = "inputDefault", @style = "float:left;" })

                        @Html.ActionLink("Descargar", "Download", new { id = Model.aud_id }, new { @class = "iconb icon-pdf", @title = "Descargar", @style = "display:block;" })
                        <br />
                        <input type="button" id="btn_upload" value="Cambiar" class="btn btn-default" style="clear:both;float:left;" />
                    </div>
                    <div id="div_upload" class="form-group" style="display:none;">
                        <label for="exampleInputFile" style="display:block;">Archivo</label>
                        <input type="file" name="Edit" id="Edit" style="display:inline">
                        <input type="button" id="btn_download" value="Mantener" class="btn btn-default" />
                        @Html.ValidationMessageFor(model => model.aud_archivo)
                        @Html.ValidationMessage("ext")
                    </div>
                </div>
                <div class="col-lg-12" style="clear:both">
                    <div class="form-group">
                        @Html.LabelFor(model => model.aud_observacion, new { @class = "control-label", @for = "inputDefault" })
                        @Html.TextAreaFor(model => model.aud_observacion, new { @class = "form-control", @rows = "3" })
                        @Html.ValidationMessageFor(model => model.aud_observacion)
                    </div>
                </div>

                <div class="col-lg-4" style="clear:both">
                    <div class="form-group">
                        <input type="submit" value="Modificar" class="btn btn-default" />
                        @Html.ActionLink("Regresar", "Index", "Audiometria", new { }, new { @class = "btn btn-default" })
                    </div>
                </div>

                <div id="div_loading" class="progress progress-striped active" style="display:none; clear:both">
                    <div class="progress-bar" style="width: 0%"></div>
                </div>

            }

        </div>
    </div>
</div>
<div class="col-lg-12">
    <embed src="@Url.Content("~/Content/audiometria/" + Model.aud_archivo)" width="100%" height="600px">
</div>
<a href="@Url.Content("~/Registro/AutocompletePaciente")" id="link_paciente"></a>
<a href="@Url.Content("~/Registro/AutocompleteMedico")" id="link_medico"></a>