@model IEnumerable<kinnemed05.Models.oftalmologia>

@{
    ViewBag.Title = "Index";
}

<h2>Oftalmología</h2>

<p>
    @Html.ActionLink("Nuevo Exámen", "Create", "", new { @class = "btn btn-default" })
    @Html.ActionLink("Regresar", "Examen", "Home", new { }, new { @class = "btn btn-default" })
</p>
<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.oft_paciente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.oft_diagnostico)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.oft_indicaciones)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.oft_medico)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.paciente.pac_nombres) @Html.DisplayFor(modelItem => item.paciente.pac_apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.oft_diagnostico)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.oft_indicaciones)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.medico.med_nombres) @Html.DisplayFor(modelItem => item.medico.med_apellidos)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.oft_id }, new { @class = "iconb icon-edit", @title = "Editar" })
                        @Html.ActionLink("Detalle", "Details", new { id = item.oft_id }, new { @class = "iconb icon-detail", @title = "Detalle" })
                        @Html.ActionLink("Borrar", "Delete", new { id = item.oft_id }, new { @class = "iconb icon-delete", @title = "Borrar" })
                    </td>
                </tr>
            }

        </table>


    </div>
</div> 
