@model kinnemed05.Models.familiar

@{
    ViewBag.Title = "Details";
}

<div class="col-lg-4">
    <div class="form-group">
        <label>
            @Html.CheckBoxFor(model => model.fam_cardiopatia, new { @disabled = "disabled" })
            Cardiopatía
        </label>
    </div>
    <div id="div_cardiopatia" class="form-group" style="display: block;">
        @Html.TextBoxFor(model => model.fam_car_txt, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        <label>
            @Html.CheckBoxFor(model => model.fam_hipertension, new { @disabled = "disabled" })
            Hipertensión
        </label>
    </div>
    <div id="div_hipertension" class="form-group" style="display: block;">
        @Html.TextBoxFor(model => model.fam_hip_txt, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        <label>
            @Html.CheckBoxFor(model => model.fam_mental, new { @disabled = "disabled" })
            Enf. Mental
        </label>
    </div>
    <div id="div_mental" class="form-group" style="display: block;">
        @Html.TextBoxFor(model => model.fam_men_txt, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        <label>
            @Html.CheckBoxFor(model => model.fam_hipotiroidismo, new { @disabled = "disabled" })
            Hipotiroidismo
        </label>
    </div>
    <div id="div_hipotiroidismo" class="form-group" style="display: block;">
        @Html.TextBoxFor(model => model.fam_hit_txt, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>


<div class="col-lg-4">
    <div class="form-group">
        <label>
            @Html.CheckBoxFor(model => model.fam_diabetes, new { @disabled = "disabled" })
            Diabetes
        </label>
    </div>
    <div id="div_diabetes" class="form-group" style="display: block;">
        @Html.TextBoxFor(model => model.fam_dia_txt, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        <label>
            @Html.CheckBoxFor(model => model.fam_cancer, new { @disabled = "disabled" })
            Cancer
        </label>
        @Html.ValidationMessageFor(model => model.fam_cancer)
    </div>
    <div id="div_cancer" class="form-group" style="display: block;">
        @Html.TextBoxFor(model => model.fam_can_txt, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        <label>
            @Html.CheckBoxFor(model => model.fam_infecciosa, new { @disabled = "disabled" })
            Enf. Infecciosa
        </label>
    </div>
    <div id="div_infecciosa" class="form-group" style="display: block;">
        @Html.TextBoxFor(model => model.fam_inf_txt, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        <label>
            @Html.CheckBoxFor(model => model.fam_otro, new { @disabled = "disabled" })
            Otro
        </label>
        @Html.ValidationMessageFor(model => model.fam_otro)
    </div>
    <div id="div_otro" class="form-group" style="display: block;">
        @Html.TextBoxFor(model => model.fam_otr_txt, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>


<div class="col-lg-4">
    <div class="form-group">
        <label>
            @Html.CheckBoxFor(model => model.fam_cardiovascular, new { @disabled = "disabled" })
            Enf. C. Vascular
        </label>
    </div>
    <div id="div_cardiovascular" class="form-group" style="display: block;">
        @Html.TextBoxFor(model => model.fam_vas_txt, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        <label>
            @Html.CheckBoxFor(model => model.fam_tuberculosis, new { @disabled = "disabled" })
            Tubercolosis
        </label>
    </div>
    <div id="div_tuberculosis" class="form-group" style="display: block;">
        @Html.TextBoxFor(model => model.fam_tub_txt, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        <label>
            @Html.CheckBoxFor(model => model.fam_malformacion, new { @disabled = "disabled" })
            Malformación
        </label>
    </div>
    <div id="div_malformacion" class="form-group" style="display: block;">
        @Html.TextBoxFor(model => model.fam_mal_txt, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>






