@model IEnumerable<kinnemed05.Models.rayos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo Exámen", "Create", "", new { @class = "btn btn-default" })
</p>
<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-striped table-hover ">
            <tr>
                <th>
                    Paciente
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ray_observacion)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.paciente.pac_nombres) @Html.DisplayFor(modelItem => item.paciente.pac_apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ray_observacion)
                    </td>
                    <td>
                        @Html.ActionLink("Descargar", "Download", new { id = item.ray_id }, new { @class = "iconb icon-pdf", @title = "Descargar" })
                        @Html.ActionLink("Editar", "Edit", new { id = item.ray_id }, new { @class = "iconb icon-edit", @title = "Editar" })
                        @Html.ActionLink("Detalle", "Details", new { id = item.ray_id }, new { @class = "iconb icon-detail", @title = "Detalle" })
                        @Html.ActionLink("Borrar", "Delete", new { id = item.ray_id }, new { @class = "iconb icon-delete", @title = "Borrar" })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>
