@model IEnumerable<kinnemed05.Models.medico>

@{
    ViewBag.Title = "Index";
}

<h2>Médicos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create", "Medico", new { @class = "btn btn-default" })
    
</p>
<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                @Html.Label("Filtro", new { @class = "control-label col-lg-1", @for = "inputDefault" })
                <div class="col-lg-3">
                    @Html.TextBox("searchString", "", new { @class = "form-control", placeholder = "Cédula/Nombres/Apellidos" })
                </div>
                @Html.Label("Especialidad", new { @class = "control-label col-lg-1", @for = "inputDefault" })
                <div class="col-lg-2">
                    @Html.DropDownList("especialidad", String.Empty)
                </div>
                <input type="submit" value="Filtrar" class="btn btn-primary" />
                <input type="submit" id="exportar" name="exportar" value="Exportar" class="btn btn-default"/>
                @*@Html.ActionLink("Exportar", "Index", new { exportar = "PDF" }, new { @class = "btn btn-default" })*@
                @*@Html.ActionLink("Editar", "Edit", new { id = item.med_id }, new { @class = "iconb icon-edit", @title = "Editar" })*@
            </div>
        }
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.med_cedula)
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.med_nombres)*@
                        @Html.ActionLink("Nombres", "Index", new { sortOrder = ViewBag.NombreSort })
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.med_apellidos)*@
                        @Html.ActionLink("Apellidos", "Index", new { sortOrder = ViewBag.ApellidoSort })
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.med_ci)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.med_codigo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.med_correo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.med_especialidad)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.med_cedula)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.med_nombres)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.med_apellidos)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.med_ci)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.med_codigo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.med_correo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.especialidad.esp_nombre)
                        </td>

                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.med_id }, new { @class = "iconb icon-edit", @title = "Editar" })
                            @Html.ActionLink("Detalle", "Details", new { id = item.med_id }, new { @class = "iconb icon-detail", @title = "Detalle" })
                            @Html.ActionLink("Borrar", "Delete", new { id = item.med_id }, new { @class = "iconb icon-delete", @title = "Borrar" })
                        </td>
                    </tr>
                }
            </tbody>

        </table>

        
    </div>
</div>

<script>
    
</script>

 
