@model kinnemed05.Models.historia

@{
    ViewBag.Title = "Delete";
}

<script>
    $(document).ajaxStart(function () {
        $('#div_loading').show();
    });
    $(document).ajaxStop(function () {
        $('#div_loading').hide();
    });
    $(function () {
        $.ajax({
            url: $("#link_index").attr('href'),
            type: 'GET',
            data: { id: $('#his_id').val() },
            success: function (data) {
                $('#div_index').html(data)
            },
            error: function (xhr, status, error) {
                //alert(error)
            }
        });

        $.ajax({
            url: $("#link_personal").attr('href'),
            type: 'GET',
            data: { id: $('#his_paciente').val() },
            success: function (data) {
                $('#div_personal').html(data)
            },
            error: function (xhr, status, error) {
                //alert(error)
            }
        });

        $.ajax({
            url: $("#link_familiar").attr('href'),
            type: 'GET',
            data: { id: $('#his_paciente').val() },
            success: function (data) {
                $('#div_familiar').html(data)
            },
            error: function (xhr, status, error) {
                //alert(error)
            }
        });

        $.ajax({
            url: $("#link_revision").attr('href'),
            type: 'GET',
            data: { id: $('#his_id').val() },
            success: function (data) {
                $('#div_revision').html(data)
            },
            error: function (xhr, status, error) {
                //alert(error)
            }
        });

        $.ajax({
            url: $("#link_signos").attr('href'),
            type: 'GET',
            data: { id: $('#his_id').val() },
            success: function (data) {
                $('#div_signos').html(data)
            },
            error: function (xhr, status, error) {
                alert(error)
            }
        });

        $.ajax({
            url: $("#link_fisico").attr('href'),
            type: 'GET',
            data: { id: $('#his_id').val() },
            success: function (data) {
                $('#div_fisico').html(data)
            },
            error: function (xhr, status, error) {
                //alert(error)
            }
        });

    });
</script>
@Html.HiddenFor(model => model.his_id)
@Html.HiddenFor(model => model.his_paciente)
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">Información del Paciente</div>
        <div class="panel-body">
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.Label("Cedula", new { @class = "control-label", @for = "inputDefault" })
                    @Html.TextBox("txt_nombres", Model.paciente.pac_cedula, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.Label("Nombres", new { @class = "control-label", @for = "inputDefault" })
                    @Html.TextBox("txt_nombres", Model.paciente.pac_nombres, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.Label("Apellidos", new { @class = "control-label", @for = "inputDefault" })
                    @Html.TextBox("txt_apellidos", Model.paciente.pac_apellidos, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.Label("Edad", new { @class = "control-label", @for = "inputDefault" })
                    @Html.TextBox("txt_edad", Model.paciente.pac_edad, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">1 MOTIVO DE LA CONSULTA</div>
        <div class="panel-body">
            <div class="col-lg-12" style="clear:both">
                <div class="form-group">
                    @Html.TextAreaFor(model => model.his_motivo, new { @class = "form-control", @rows = "5", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.his_motivo)
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">2 ANTECEDENTES PERSONALES</div>
        <div id="div_personal" class="panel-body">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">3 ANTECEDENTES FAMILIARES</div>
        <div id="div_familiar" class="panel-body">

        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">4 ENFERMEDAD O PROBLEMA ACTUAL</div>
        <div class="panel-body">
            <div class="col-lg-12" style="clear:both">
                <div class="form-group">
                    @Html.TextAreaFor(model => model.his_problema, new { @class = "form-control", @rows = "5", @readonly = "readonly" })
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">5 REVISION ACTUAL DE ORGANOS Y SISTEMAS</div>
        <div id="div_revision" class="panel-body">


        </div>
        <div id="div_loading" class="progress progress-striped active" style="display:none;clear:both;">
            <div class="progress-bar" style="width: 0%"></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">6 SIGNOS VITALES Y MEDICIONES</div>
        <div id="div_signos" class="panel-body">

        </div>

    </div>
    <div class="panel panel-default">
        <div class="panel-heading">7 EXAMEN FISICO</div>
        <div id="div_fisico" class="panel-body">

        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">8 DIAGNOSTICOS</div>
        <div id="div_index" class="panel-body">

        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">9 PLANES</div>
        <div class="panel-body">
            <div class="col-lg-12" style="clear:both">
                <div class="form-group">
                    <label>Planes de Tratamiento Farmacologico</label>
                    @Html.TextAreaFor(model => model.plan.pla_texto1, new { @class = "form-control", @rows = "10", @readonly = "readonly" })
                </div>
            </div>
            <div class="col-lg-12" style="clear:both">
                <div class="form-group">
                    <label>Planes de Tratamiento No Farmacologico</label>
                    @Html.TextAreaFor(model => model.plan.pla_texto2, new { @class = "form-control", @rows = "10", @readonly = "readonly" })
                </div>
            </div>

        </div>
    </div>
    <div class="form-group">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ActionLink("Regresar", "Index", "Historia", new { tipo=ViewBag.tipo}, new { @class = "btn btn-default" })
            <input type="submit" value="Borrar" class="btn btn-primary" />
        }

    </div>

</div>


<a href="@Url.Content("~/Personal/Details")" id="link_personal"></a>
<a href="@Url.Content("~/Familiar/Details")" id="link_familiar"></a>
<a href="@Url.Content("~/Revision/Details")" id="link_revision"></a>
<a href="@Url.Content("~/Signos/Details")" id="link_signos"></a>
<a href="@Url.Content("~/Fisico/Details")" id="link_fisico"></a>
<a href="@Url.Content("~/Diagnostico/Consulta")" id="link_index"></a>

