@model kinnemed05.Models.historia

@{
    ViewBag.Title = "Details";
}
<script>
    $(document).ajaxStart(function () {
        $('#div_loading').show();
    });
    $(document).ajaxStop(function () {
        $('#div_loading').hide();
    });
    $(function () {
        $.ajax({
            url: $("#link_index").attr('href'),
            type: 'GET',
            data: { id: $('#his_id').val() },
            success: function (data) {
                $('#div_index').html(data)
            },
            error: function (xhr, status, error) {
                $('#div_index').html("Sin Información")
            }
        });
        //Antecedentes personales
        $.ajax({
            url: $("#link_personal").attr('href'),
            type: 'GET',
            data: { id: $('#his_paciente').val() },
            success: function (data) {
                $('#div_personal').html(data)
            },
            error: function (xhr, status, error) {
                $('#div_personal').html("Sin Información")
            }
        });
        //antedecedentes familiares
        $.ajax({
            url: $("#link_familiar").attr('href'),
            type: 'GET',
            data: { id: $('#his_paciente').val() },
            success: function (data) {
                $('#div_familiar').html(data)
            },
            error: function (xhr, status, error) {
                $('#div_familiar').html("Sin Información")
            }
        });
        //revision
        $.ajax({
            url: $("#link_revision").attr('href'),
            type: 'GET',
            data: { id: $('#his_id').val() },
            success: function (data) {
                $('#div_revision').html(data)
            },
            error: function (xhr, status, error) {
                $('#div_revision').html("Sin Información")
            }
        });
        //signos vitales
        $.ajax({
            url: $("#link_signos").attr('href'),
            type: 'GET',
            data: { id: $('#his_id').val() },
            success: function (data) {
                $('#div_signos').html(data)
            },
            error: function (xhr, status, error) {
                $('#div_signos').html("Sin Información")
            }
        });
        //examen físico
        $.ajax({
            url: $("#link_fisico").attr('href'),
            type: 'GET',
            data: { id: $('#his_id').val() },
            success: function (data) {
                $('#div_fisico').html(data)
            },
            error: function (xhr, status, error) {
                $('#div_fisico').html("Sin Información")
            }
        });

        //informacion ocupacional
        $.ajax({
            url: $("#link_ocupacional").attr('href'),
            type: 'GET',
            data: { id: $('#his_paciente').val(), tipo: $('#his_tipo').val() },
            success: function (data) {
                $('#div_ocupacional').html(data)
            },
            error: function (xhr, status, error) {
                $('#div_ocupacional').html("Sin Información")
            }
        });

        //riesgos laborales
        $.ajax({
            url: $("#link_laboral").attr('href'),
            type: 'GET',
            data: { id: $('#his_paciente').val()},
            success: function (data) {
                $('#div_laboral').html(data)
            },
            error: function (xhr, status, error) {
                $('#div_laboral').html("Sin Información")
            }
        });

        //trabajos anteriores
        $.ajax({
            url: $("#link_historico").attr('href'),
            type: 'GET',
            data: { id: $('#his_paciente').val() },
            success: function (data) {
                $('#div_historico').html(data)
            },
            error: function (xhr, status, error) {
                $('#div_historico').html("Sin Información")
            }
        });

        //inmunizacion
        $.ajax({
            url: $("#link_inmunizacion").attr('href'),
            type: 'GET',
            data: { id: $('#his_paciente').val() },
            success: function (data) {
                $('#div_inmunizacion').html(data)
            },
            error: function (xhr, status, error) {
                $('#div_inmunizacion').html("Sin Información")
            }
        });

        //cocepto
        $.ajax({
            url: $("#link_concepto").attr('href'),
            type: 'GET',
            data: { id: $('#his_id').val() },
            success: function (data) {
                $('#div_concepto').html(data)
            },
            error: function (xhr, status, error) {
                $('#div_concepto').html("Sin Información")
            }
        });


    });
</script>
@Html.HiddenFor(model => model.his_id)
@Html.HiddenFor(model => model.his_paciente)
@Html.HiddenFor(model => model.his_tipo)
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">INFORMACIÓN DEL PACIENTE</div>
        <div class="panel-body">
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.Label("Cedula", new { @class = "control-label", @for = "inputDefault" })
                    @Html.TextBox("txt_nombres", Model.paciente.pac_cedula, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.Label("Nombres", new { @class = "control-label", @for = "inputDefault" })
                    @Html.TextBox("txt_nombres", Model.paciente.pac_nombres, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.Label("Apellidos", new { @class = "control-label", @for = "inputDefault" })
                    @Html.TextBox("txt_apellidos", Model.paciente.pac_apellidos, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.Label("Edad", new { @class = "control-label", @for = "inputDefault" })
                    @Html.TextBox("txt_edad", Model.paciente.pac_edad, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">MOTIVO DE LA CONSULTA</div>
        <div class="panel-body">
            <div class="col-lg-12" style="clear:both">
                <div class="form-group">
                    @Html.TextAreaFor(model => model.his_motivo, new { @class = "form-control", @rows = "5", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.his_motivo)
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">ANTECEDENTES PERSONALES</div>
        <div id="div_personal" class="panel-body">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">ANTECEDENTES FAMILIARES</div>
        <div id="div_familiar" class="panel-body">

        </div>
    </div>
    @if (Model.his_tipo != 1)
    {
        <div class="panel panel-default">
            <div class="panel-heading">INFORMACIÓN OCUPACIONAL</div>
            <div id="div_ocupacional" class="panel-body">

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">RIESGOS LABORALES</div>
            <div id="div_laboral" class="panel-body">

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">TRABAJOS ANTERIORES</div>
            <div id="div_historico" class="panel-body">

            </div>
        </div>
    }
    <div class="panel panel-default">
        <div class="panel-heading">ENFERMEDAD O PROBLEMA ACTUAL</div>
        <div class="panel-body">
            <div class="col-lg-12" style="clear:both">
                <div class="form-group">
                    @Html.TextAreaFor(model => model.his_problema, new { @class = "form-control", @rows = "5", @readonly = "readonly" })
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">REVISION ACTUAL DE ÓRGANOS Y SISTEMAS</div>
        <div id="div_revision" class="panel-body">


        </div>
        <div id="div_loading" class="progress progress-striped active" style="display:none;clear:both;">
            <div class="progress-bar" style="width: 0%"></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">SIGNOS VITALES Y MEDICIONES</div>
        <div id="div_signos" class="panel-body">

        </div>

    </div>
    <div class="panel panel-default">
        <div class="panel-heading">EXÁMEN FÍSICO</div>
        <div id="div_fisico" class="panel-body">

        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">DIAGNÓSTICOS</div>
        <div id="div_index" class="panel-body">

        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">PLANES</div>
        <div class="panel-body">
            <div class="col-lg-12" style="clear:both">
                <div class="form-group">
                    <label>Planes de Tratamiento Farmacológico</label>
                    @Html.TextAreaFor(model => model.plan.pla_texto1, new { @class = "form-control", @rows = "10", @readonly = "readonly" })
                </div>
            </div>
            <div class="col-lg-12" style="clear:both">
                <div class="form-group">
                    <label>Planes de Tratamiento No Farmacológico</label>
                    @Html.TextAreaFor(model => model.plan.pla_texto2, new { @class = "form-control", @rows = "10", @readonly = "readonly" })
                </div>
            </div>

        </div>
    </div>
    @if (Model.his_tipo != 1) { 
        <div class="panel panel-default">
            <div class="panel-heading">INMUNIZACIÓN</div>
            <div id="div_inmunizacion" class="panel-body">

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">CONCEPTO</div>
            <div id="div_concepto" class="panel-body">

            </div>
        </div>
    }
</div>


<a href="@Url.Content("~/Personal/Details")" id="link_personal"></a>
<a href="@Url.Content("~/Familiar/Details")" id="link_familiar"></a>
<a href="@Url.Content("~/Revision/Details")" id="link_revision"></a>
<a href="@Url.Content("~/Signos/Details")" id="link_signos"></a>
<a href="@Url.Content("~/Fisico/Details")" id="link_fisico"></a>
<a href="@Url.Content("~/Diagnostico/Consulta")" id="link_index"></a>


<a href="@Url.Content("~/Ocupacional/Details")" id="link_ocupacional"></a>
<a href="@Url.Content("~/Laboral/Details")" id="link_laboral"></a>
<a href="@Url.Content("~/Ocupacional/Consulta")" id="link_historico"></a>
<a href="@Url.Content("~/Inmunizacion/Consulta")" id="link_inmunizacion"></a>
<a href="@Url.Content("~/Concepto/Details")" id="link_concepto"></a>